[submodule "submodules/Flips"]
	path = submodules/Flips
    url = https://github.com/Alcaro/Flips.git
[submodule "submodules/ctrando"]
	path = submodules/ctrando
    url = https://github.com/Pseudoarc/ctrando.git
